<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81183833-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81183833-2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Motion Graphics - Samples of Motion Graphics based on HTML and javascript</title>
    <meta name="description" content="SpecialEffects, Samples of special effects based on HTML and javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://truemaxdh.github.io/icon.png" type="image/png">
    <link rel="stylesheet" href="https://truemaxdh.github.io/Style/skin.css">
    
    <script src="js/HanguelBounce.js"></script>
    <script src="js/BalloonsUp.js"></script>
    
    <script>
      function demo_hanguelBounce() {
        var el = document.getElementById("board");
        el.innerHTML = "";
        motionGraphics.hanguelBounce(el);
      }
      
      function demo_balloonsUp() {
        var el = document.getElementById("board");
        el.innerHTML = "";
        motionGraphics.balloonsUp(el);
      }
      
      var fullScreen = false;
      function toggleFullScreen() {
        var el = document.getElementById("board");
        if (fullScreen) {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          } else if (document.webkitExitFullscreen) { /* Safari */
            document.webkitExitFullscreen();
          } else if (document.msExitFullscreen) { /* IE11 */
            document.msExitFullscreen();
          }
          fullScreen = false;
        } else {
          if (el.requestFullscreen) {
            el.requestFullscreen();
          } else if (el.webkitRequestFullscreen) { /* Safari */
            el.webkitRequestFullscreen();
          } else if (el.msRequestFullscreen) { /* IE11 */
            el.msRequestFullscreen();
          }
          fullScreen = true;
        }
      }
      window.onload = function() {
        var _href = window.location.href;
        var _split = _href.split("#");
        if (_split.length < 2) {
          demo_hanguelBounce();
        } else {
          eval("demo_" + _split[1] + "();" );
        }        
      }
    </script>

  </head>
  <body>  
    <script>var cookieBread = ">Arts>MotionGraphics";</script>
    <script src="https://truemaxdh.github.io/Include/header.js"></script>

    <center>
      {{content}}
      <br>
      <a href="javascript:demo_hanguelBounce();">HanguelBounce</a>
      <a href="javascript:demo_balloonsUp();">BalloonsUp</a>
      
      <div id="board" style="width:800px; height:600px;" ondblclick="toggleFullScreen();></div>
      <br>
      <a class="normalBtn" href="https://github.com/truemaxdh/MotionGraphics">GitHub</a>
    </center>
    <br>
    
    <!--Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- AutoResponse -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7307479428475282"
         data-ad-slot="8718898251"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
